
.menu-content {
  height: 116px;
  width: 1440px;

  position: absolute;
  left: 0px;
  top: 0px;
}



.menu-content .logo img {
  width: 90px;
  height: 50px;

  position: absolute;
  top: 44px;
  left: 163px;

  color: #1c2a39;
}


.menu-content .options {
  width: 372px;
  height: 12px;
  top: 53px;
  left: 534px;
  
  position: absolute;
}

.menu-content .options a{
  margin-left: 20px;
  text-decoration: none;
  color: #1c2a39;
}

.menu-content .options a.outlet{
  font-weight: 900;
  line-height: 12px;
  font-style: normal;
  text-transform: uppercase;
}

.menu-content .icons {
  width: 121px;
  height: 17px;
  left: 1158px;
  top: 50px;

  position: absolute;
}

.menu-content .icons img {
  margin-left: 20px;
}

